* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {

	background: url("http://img13.deviantart.net/367e/i/2006/135/1/4/may_s_bulbasaur_s_vine_whip_by_sajirou.jpg");
	background-size: 20%;
	
}


.moveIsh {
	float: right;
	width: 30%;
	position: fixed;
	top: 30px;
	right: 30px;
	border: 1px solid black;
	padding: 10px;
}

.movesOnLeft {
	padding-top: 10px;
	
}

.bulbMoves {
	font-size: 30px;
	border-radius: 20px;
}